npm-debug.log
.DS_Store
/frontend/dist/index.js
/frontend/bower_components/
/frontend/node_modules/
/frontend/.pulp-cache/
/frontend/output/
/frontend/generated-docs/
/frontend/.psc-package/
/frontend/.psc*
/frontend/.purs*
/frontend/.psa*
